<!DOCTYPE html>
<html>
  <head>
    <title>SpaceGame</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <header>
      <nav>
        <h1>SPACE GAME!</h1>
        <div>
          <% if @current_user.present? %>
            Welcome, <%= @current_user.name %>
            <%= link_to 'Logout', login_path, method: 'delete' %>
          <% else %>
            <%= link_to 'Login', login_path %>
            |
            <%= link_to 'Signup', new_user_path %>
          <% end %>
        </div>
      </nav>
      <hr>
    </header>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
